@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

h2 {
  font-size: 24px;
  font-family: "Poppins", sans-serif;
  color: #263238;
  pointer-events: none;
  margin: 0;
}

p {
  font-size: 16px;
  color: #263238;
  font-weight: 600;
  opacity: 0.5;
  font-family: "Poppins", sans-serif;
  margin: 0;
  line-height: 20px;
}

.subtitle {
  margin-top: 7px;
}

a {
  text-decoration: none;
  font-weight: 600;
}

.container {
  max-width: 1000px;
  width: 90%;
  margin: 0 auto;
  position: relative;
}

#form-container {
  width: 91.2%;
  padding: 40px 44px;
  border-radius: 4px;
  text-align: center;
  background-color: rgb(243, 243, 243);
  margin: 0 auto;
}

.form-step {
  display: none;
}

.active-step {
  display: block;
  width: 100%;
}

.back-btn {
  display: flex;
  align-items: center;
  color: #263238;
  font-weight: bold;
  gap: 6px;
  cursor: pointer;
  border: none;
  margin: 32px auto 0px auto;
  background-color: transparent;
}

.back-btn svg {
  position: relative;
  transition: transform 0.3s;
  opacity: 0.5;
  width: 15px;
  margin-top: 2px;
}

.back-btn p {
  opacity: 0.5;
  font-weight: 600;
}

.back-btn:hover p {
  color: #E4405F;
  opacity: 1;
}

.back-btn:hover svg {
  opacity: 1;
  transform: translateX(-3px);
}

.back-btn:hover svg path {
  fill: #E4405F;
}

.zip-code-error {
  text-align: end;
  margin-top: -10px;
  color: #E4405F;
  font-weight: 600;
}

.iti--allow-dropdown {
  width: 100%;
}

.phone-number-part {
  color: #263238;
  text-decoration: none;
  pointer-events: none;
}

.input-from-step-2 {
    display: inline-block;
}

#step-4 .input-from-step-2::first-letter {
  text-transform: uppercase;
}
