h2 + p + .input-container {
  margin-top: 25px;
}

h2 + .input-container {
  margin-top: 37px;
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.input-container .input-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.input-container .input-wrapper input {
  width: 100%;
  font-family: "Poppins", sans-serif;
}

.input-container .input-wrapper .input-icon {
  position: absolute;
  top: 54%;
  transform: translateY(-50%);
  right: 15px;
}

.input-container input {
  border: 0.1px solid #afc1c9;
  height: 57px;
  padding-left: 16px;
  font-size: 16px;
  border-radius: 5px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: #263238;
}

.input-container input::placeholder {
  font-size: 16px;
  font-weight: 600;
  color: #263238;
  opacity: 0.5;
  font-family: "Poppins", sans-serif;
}

.input-container input[type="text"]:focus-visible {
  border: 0.1px solid #E4405F;
  outline: 0;
}

.input-container button.classic {
  background-color: #E4405F;
  border: none;
  font-size: 20px;
  font-weight: 600;
  color: #ffffff;
  padding: 16px;
  cursor: pointer;
  position: relative;
  transition: background-color 0.3s;
  border-radius: 5px;
  font-family: "Poppins", sans-serif;
  width: 100%;
}

.input-container button.classic svg {
  position: absolute;
  right: 18px;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0;
  transition: opacity 0.3s, transform 0.3s, right 0.3s;
}

.input-container button.classic:hover {
  background-color: #ba2945;
}

.input-container button.classic:hover svg {
  right: 15px;
  opacity: 1;
}

.disclaimer {
  margin: 0;
  font-weight: 500;
}

.phone-number > .disclaimer {
  font-size: 12px;
}

input#phone {
  width: 100%;
}

.phone-verification.input-container .otp-input__wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.phone-verification.input-container .otp-input__wrapper .otp-input {
  width: 23%;
  height: 52px;
  text-align: center;
  font-size: 28px;
  font-weight: 600;
  border-radius: 0px;
  font-family: "Poppins", sans-serif;
  padding: 0px;
}

.phone-verification.input-container .otp-input__wrapper .otp-input:focus-visible {
  border: 0.1px solid #E4405F;
  outline: 0;
}

.phone-verification.input-container .otp-input__wrapper .otp-input.error {
  border: 1px solid #E4405F;
}

.phone-verification.input-container
  .otp-input__wrapper
  .otp-input::-webkit-inner-spin-button,
.phone-verification.input-container
  .otp-input__wrapper
  .otp-input::-webkit-outer-spin-button {
  appearance: none;
}
