@media (max-width: 575.98px) {
}

@media (max-width: 767.98px) {
  .container {
    width: 500px;
  }

  #form-container {
    width: 80%;
    padding: 50px 22px;
  }

  .subtitle {
    font-size: 14px;
  }

  .horizontal__wrapper {
    flex-direction: column;
    height: auto;
    margin-top: 25px;
  }

  .horizontal__wrapper .horizontal__wrapper__block.with-icon {
    flex-direction: row;
    padding: 30px 5px 30px 5px;
    justify-content: flex-start;
    position: relative;
    width: 100%;
    height: 100%;
  }

  .horizontal__wrapper .horizontal__wrapper__block.with-icon svg {
    margin-top: 0px;
    height: 35px;
  }

  .horizontal__wrapper .horizontal__wrapper__block.with-icon p {
    position: absolute;
    right: 50%;
    transform: translateX(50%);
  }

  .horizontal__wrapper .horizontal__wrapper__block.with-icon:first-child {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 0px;
    border-right: 0.1px solid #afc1c9;
  }

  .horizontal__wrapper .horizontal__wrapper__block.with-icon:not(:last-child) {
    border-bottom: 0px;
    border-right: 0.1px solid #afc1c9;
  }

  .horizontal__wrapper .horizontal__wrapper__block.with-icon:last-child {
    border-top-right-radius: 0px;
    border-bottom-left-radius: 5px;
  }

  .horizontal__wrapper .horizontal__wrapper__block.with-icon:hover {
    border-color: #dc3545;
  }

  .horizontal__wrapper .horizontal__wrapper__block.with-icon:hover + button {
    border-top-color: #dc3545;
    border-left-color: #afc1c9;
  }

  .current-house.horizontal__wrapper {
    height: auto;
  }

  .current-house.horizontal__wrapper .horizontal__wrapper__block.with-icon {
    padding: 20px 30px;
    height: 100px;
    justify-content: center;
  }

  .current-house.horizontal__wrapper .horizontal__wrapper__block.with-icon {
    border-right: 0.1px solid #afc1c9;
  }

  .current-house.horizontal__wrapper .horizontal__wrapper__block.with-icon p {
    position: unset;
    transform: none;
  }

  .current-house.horizontal__wrapper
    .horizontal__wrapper__block.with-icon
    span {
    font-size: 16px;
  }

  .departureTime.horizontal__wrapper .horizontal__wrapper__block {
    padding: 20px 15px 20px 15px;
  }

  .departureTime.horizontal__wrapper .horizontal__wrapper__block:first-child {
    padding-left: 17px;
  }

  .departureTime.horizontal__wrapper .horizontal__wrapper__block.with-icon svg {
    width: 50px;
    height: 50px;
  }

  .vertical__wrapper {
    margin-top: 25px;
  }

  .vertical__wrapper .vertical__wrapper__block {
    padding: 23px;
    display: flex;
    justify-content: center;
  }

  .vertical__wrapper .vertical__wrapper__block p {
    text-align: center;
  }

  .vertical__wrapper .vertical__wrapper__block svg {
    display: none;
  }

  .phone-verification.input-container .otp-input__wrapper .otp-input {
    width: 20%;
  }

  .disclaimer {
    font-size: 14px;
  }

  .final-page-container .final-message {
    font-size: 14px;
    width: 348px;
    margin-top: 13px;
  }

  .final-page-container .cta-button {
    margin-top: 25px;
  }
}
